{% extends 'pattern.html' %}

{% block body %}
<h1>Склады
	<div class="rectangle text_center_middle"><a href="/storages/adding">Добавить</a></div>
</h1>

<table class="table">
	<thead>
		<tr>
			<th>Номер</th>
			<th>Название</th>
			<th>Адрес</th>
		</tr>
	</thead>
	<tbody>
        {% for el in articles %}
		<tr>
			<td>{{el.id_storages}}</td>
			<td>{{el.name_storages}}</td>
			<td>{{el.address_storages}}</td>
		</tr>
        {% endfor %}
	</tbody>
</table>
{% endblock %}
