{% extends 'pattern.html' %}

{% block body %}
<h1>
	<div class="storage_info">
		{% for el in storage_info %}
		<ul>
			<li><a>Склад:</a></li>
			<li>"{{el.name_storages}}"</li>
			<li>{{el.address_storages}}</li>
			<li>тел.: {{el.telephone_storages}}</li>
		</ul>
		{% endfor %}
	</div>
		<div class="rectangle text_center_middle"><a href="javascript:history.back()">Назад</a></div>
</h1>
<table class="table_storage">
	<thead>
		<tr>
			<th>Номер товара</th>
			<th>Кол-во</th>
            <th>Производитель</th>
		</tr>
	</thead>
	<tbody>
        {% for el in articles %}
		<tr>
			<td>{{el.stuffid_storage}}</td>
			<td>{{el.quentitystuff_storage}}</td>
            <td>{{el.prodid_storage}}</td>
		</tr>
        {% endfor %}
	</tbody>
</table>
{% endblock %}