{% extends 'pattern.html' %}

{% block body %}
<h1>Товары
	<div class="rectangle text_center_middle"><a href="/stuff/adding">Добавить</a></div>
</h1>

<table class="table">
	<thead>
		<tr>
			<th>Номер</th>
			<th>Название</th>
			<th>Категория</th>
            <th>Цвет</th>
            <th>Пол</th>
            <th>Классификатор</th>
            <th>Описание</th>
		</tr>
	</thead>
	<tbody>
        {% for el in articles %}
		<tr>
			<td class="balance_stuff"><a href="/stuff/{{el.id_stuff}}">{{el.id_stuff}}</a></td>
			<td>{{el.name_stuff}}</td>
			<td>{{el.category_stuff}}</td>
            <td>{{el.color_stuff}}</td>
            <td>{{el.gender_stuff}}</td>
            <td>{{el.classifier_stuff}}</td>
            <td class="prelast_column">{{el.description_stuff}}</td>
			<td class="last_column">
				<a href="/stuff/{{el.id_stuff}}/put">Изменить</a>
				<a href="http://127.0.0.1:5000/stuff/{{el.id_stuff}}/delete">Удалить</a>
			</td>
		</tr>
        {% endfor %}
	</tbody>
</table>
{% endblock %}