{% extends 'pattern.html' %}

{% block body %}
<h1>Добавление нового производителя
	<div class="rectangle text_center_middle"><a href="javascript:history.back()">Назад</a></div>
</h1>
<div>
	<form method="post">
		<input type="text" name="name" id="name" class="text_area" placeholder="Название" required><br>
		<input type="text" name="address" id="address" class="text_area" placeholder="Адрес" required><br>
		<input type="text" name="telephone" id="telephone" class="text_area" placeholder="Телефон" required><br>
		<input type="text" name="reg" id="reg" class="text_area" placeholder="Регистрация" required><br>
		<input type="submit" value="Ввод">
	</form>
</div>
{% endblock %}